


@model Autoveille.TestingModels.Dashboard
@*<p style="color:white;font-size:2.5em;">Nom du Concessionnaire</p>
<p style="color:white;font-size:2.5em;"> 00 au 00 mois 2021</p>*@
    <div class="mainCurrentRow">
        <div id="barsContainer">
            <div style="margin:15px;">
                <div class="titleContainer">
                    <div style="display:flex;">
                        <img src="~/Content/Images/face bars.png" />
<p class="localTitle">Appels</p>
                </div>
                <div>
                    <p class="localStats">47</p>
                </div>
            </div>
            <div class="graph">
                <canvas id="@("barsCanvas"+Model.IdEvenement)"></canvas>
                <br />
                <br />
                <br />
                <br />
                <div id="@("legend-container"+Model.IdEvenement)"> </div>
            </div>

        </div>
    </div>




    <div class="wheelsContainer">

        <div class="donutsDiv">
            <div class="row donutsTitle">
                <img src="~/Content/Images/ICONES_SVG_Base_Couleurs_RDV.svg" height="50" width="50" />
                <p class="localTitle" style="color: #25b34b;font-size:2em;">Rendez-vous / jour</p>
            </div>
            <br />
            <div class="donutsContainer">
                <div class="UniqueDonutContainer">
                    <div id="fullContent" style="width:110px;height:110px;">
                        <canvas class="donutCanvas" id="@("circleRdvJour1_"+Model.IdEvenement)" height="110" width="110"></canvas>
                        <div class="description">
                            <span class="number" style="font-size:1.9em;">22</span>
                        </div>
                    </div>
                    <div>
                        <p class="donutsText" style="font-size:1em;">Jour 1</p>
                    </div>
                </div>





                <div class="UniqueDonutContainer">
                    <div id="fullContent" style="width:110px;height:110px;">
                        <canvas class="donutCanvas" id="@("circleRdvJour2_"+Model.IdEvenement)" height="110" width="110"></canvas>
                        <div class="description">
                            <span class="number" style="font-size:1.9em;">22</span>
                        </div>
                    </div>
                    <div>
                        <p class="donutsText" style="font-size:1em;">Jour 2</p>
                    </div>
                </div>




                <div class="UniqueDonutContainer">
                    <div id="fullContent" style="width:110px;height:110px;">
                        <canvas class="donutCanvas" id="@("circleRdvJour3_"+Model.IdEvenement)" height="110" width="110"></canvas>
                        <div class="description">
                            <span class="number" style="font-size:1.9em;">22</span>
                        </div>
                    </div>
                    <div>
                        <p class="donutsText" style="font-size:1em;">Jour 3</p>
                    </div>
                </div>






                <div class="UniqueDonutContainer">
                    <div id="fullContent" style="width:110px;height:110px;">
                        <canvas class="donutCanvas" id="@("circleRdvHorsEvt_"+Model.IdEvenement)" height="110" width="110"></canvas>
                        <div class="description" style="position:absolute;">
                            <span class="number" style="font-size:1.9em;">22</span>
                        </div>
                    </div>
                    <div>
                        <p class="donutsText" style="font-size:1em;">Hors évènement</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="donutsDiv" style="background-color:black;border:1px white solid;width:100%;margin:15px;border-radius:15px;height:420px;">

            <div class="row donutsTitle">
                <img src="~/Content/Images/ICONES_SVG_Couleurs_Vente.svg" height="50" width="50" />
                <p class="localTitle" style="color: #C1529E;font-size:2em;">Ventes / jour</p>
            </div>
            <br />


            <div class="donutsContainer">
                <div class="UniqueDonutContainer">
                    <div id="fullContent" style="width:110px;height:110px;">
                        <canvas class="donutCanvas" id="@("circleVenteJour1_"+Model.IdEvenement)"></canvas>
                        <div class="description">
                            <span class="number" style="font-size:1.9em;">22</span>
                        </div>
                    </div>
                    <div>
                        <p style="text-align:center;font-size:30px;font-weight:bold;color:white;margin-top:10px;">Jour 1</p>
                    </div>
                </div>

                <div class="UniqueDonutContainer">
                    <div id="fullContent" style="width:110px;height:110px;">
                        <canvas id="@("circleVenteJour2_" +Model.IdEvenement)" class="donutCanvas"></canvas>
                        <div class="description" style="position:absolute;">
                            <span class="number" style="font-size:1.9em;">22</span>
                        </div>
                    </div>
                    <div>
                        <p style="text-align:center;font-size:30px;font-weight:bold;color:white;margin-top:10px;">Jour 1</p>
                    </div>
                </div>

                <div class="UniqueDonutContainer">
                    <div id="fullContent" style="width:110px;height:110px;">
                        <canvas id="@("circleVenteJour3_" + Model.IdEvenement)" class="donutCanvas"></canvas>
                        <div class="description" style="position:absolute;">
                            <span class="number" style="font-size:1.9em;">22</span>
                        </div>
                    </div>
                    <div>
                        <p style="text-align:center;font-size:30px;font-weight:bold;color:white;margin-top:10px;">Jour 1</p>
                    </div>
                </div>

                <div class="UniqueDonutContainer">
                    <div id="fullContent" style="width:110px;height:110px;">
                        <canvas id="@("circleVenteHorsEvt_" + Model.IdEvenement)" class="donutCanvas"></canvas>
                        <div class="description" style="position:absolute;">
                            <span class="number" style="font-size:1.9em;">22</span>
                        </div>
                    </div>
                    <div>
                        <p style="text-align:center;font-size:30px;font-weight:bold;color:white;margin-top:10px;">Jour 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>

<div class="secondRow" style="display:flex; flex-direction:row;">
    <div style="width:50%">
        <div class="leftBottomCol">

            <div class="newPieContainer">
                <div class="row donutsTitle">
                    <img src="~/Content/Images/ICONES_SVG_Couleurs_WaklIn_Vert.svg" height="50" width="50" />
                    <p class="localTitle" style="color: #32B9A9;font-size:2em;">Ventes / jour</p>
                </div>

                <div class="rowFlex">
                    <div class="pieGraph">
                        <div style="background-color:black;position: relative; height:300px; width:300px;margin-top:-30px;vertical-align:middle;">
                            <canvas id="@("ExplodedPieChart"+ Model.IdEvenement)" width="20" height="20"></canvas>
                        </div>
                    </div>
                    <div class="pieTextContainer">
                        <p class="Total">24</p>
                        <div id="@("pieLegends"+Model.IdEvenement)">
                        </div>
                    </div>

                </div>

            </div>





            <div class="newlinesChart">

                <div class="row donutsTitle">
                    <img src="~/Content/Images/ICONES_SVG_Couleurs_WaklIn_Blue.svg" height="50" width="50" />

                    <p class="localTitle" style="color: #2ea6de;font-size:2em;">Walk-In / jour</p>
                </div>


                <div id="container">
                    <canvas id="@("lineChart"+Model.IdEvenement)" width="1050" height="330"></canvas>
                </div>


            </div>

        </div>
    </div>
    <div style="width:50%">

        <div class="rightBottomCol">
            <div class="row donutsTitle">
                <img src="~/Content/Images/ICONES_SVG_Couleurs_Vente.svg" height="50" width="50" style="color: #dd266a;" />
                <p class="localTitle" style="color: #dd266a;font-size:2em;">Types de Ventes</p>

                <p class="localStats" style="padding-left:40%;">47</p>
            </div>

            <div style="width: 100%; padding:25px;background-color:black;">
                <canvas id="@("horizontalBarsCanvas"+Model.IdEvenement)"></canvas>
                <br />
                <br />
                <br />
                <div id="@("horizontalBarsLegendContainer" + Model.IdEvenement)" style="display:flex;margin-left:100px;"> </div>
            </div>
        </div>
    </div>
</div>

<script>
    var object = @(Html.Raw(Json.Encode(Model)));
    //console.log(object.IdEvenement);
    var evt = object.IdEvenement;
    console.log('initial evt '+ evt)
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/0.7.0/chartjs-plugin-datalabels.min.js"></script>
<script src="~/Scripts/MyScripts/Rapports_PartialCurrentEvent.js"></script>

@*<script src="~/Scripts/MyScripts/RapportEvenemenentEnCoursScript.js"></script>*@



