@model IEnumerable<Autoveille.TestingModels.Client>

<table class="table  table-bordered clientsTable " >
    <tr>
        <th class="clientsTableHeader">

        </th>
        <th class="clientsTableHeader">
            @Html.DisplayNameFor(model => model.NomComplet)
        </th>
        <th class="clientsTableHeader">
            @Html.DisplayNameFor(model => model.Vehicule.VehiculeActuel)
        </th>
        <th class="clientsTableHeader">
            @Html.DisplayNameFor(model => model.Vehicule.TypeDeVente)
        </th>
        <th class="clientsTableHeader">
            @Html.DisplayNameFor(model => model.Vehicule.DateAcquisition)
        </th>
        <th class="clientsTableHeader">
            @Html.DisplayNameFor(model => model.Vehicule.FinTerme)
        </th>
        <th class="clientsTableHeader">
            @Html.DisplayNameFor(model => model.Phone1)
        </th>
        <th class="clientsTableHeader">
            @Html.DisplayNameFor(model => model.Phone2)
        </th>
        <th class="clientsTableHeader">
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th class="clientsTableHeader">

        </th>
    </tr>
    @{ var i = 0;
        foreach (var item in Model)
        {
            i++;
            var clientId = "client" + item.ClientId;
            var color = "white";
            if (i%2==1)
            {
                color = "white";
            }
            else
            {
                color = "#bfbfbf";
            }

        <tr style="height:55px;background-color:@color" class="rowClients">
            <td class="clientId">
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomComplet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicule.VehiculeActuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicule.TypeDeVente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicule.DateAcquisition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicule.FinTerme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone1)
                @*<img id="callImg" src="~/Content/Images/Layout/Call-green.png" width="30" height="30" alt="Call Green">*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone2)
                @*<img id="callImg" src="~/Content/Images/Layout/Call-grey.png" width="30" height="30" alt="Call Grey">*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                <img src="~/Content/Images/Layout/Expand-green.png" alt="expand" role="button" onclick="displayClientDetails(@item.ClientId)" />
            </td>
        </tr>
        <tr>
            <td class="detailsClient" id="@clientId" colspan="10" style="display:none;padding:10px;border-radius:15px;">
            </td>

        </tr>
    }
    }
</table>

    <script>



        var currentClientId;
        var row;
        function displayClientDetails(clientId) {

            row = "client" + clientId;
            //console.log($('#' + row).css('visibility'));
            //console.log(row);
            if ($('#' + row).css('visibility') == 'visible') {
                //console.log('first case');
                $('#' + row).css('visibility', 'hidden');
                $('#' + row).css('display', 'none');
                }
            else {

                
                $.ajax({
                    //url: '/Home/GetFicheClient',
                    url: '/Home/GetMainClient',
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    data: { aIdFiche: clientId },
                    dataType: 'html',
                    success: function (result) {
                        $('#'+row).html(result);
                        $('#'+row).css('visibility', 'visible');
                        $('#'+row).css('display', '');
                    },
                    error: function (xhr, status) {
                        alert(status);
                    }
                });
            }
        }            
 
    </script>
    