@model IEnumerable<Autoveille.TestingModels.Client>

<table class="table">
    <tr style="color:white;background-color:black;height:40px;">
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeleVehicule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinTerme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="height:15px;">
            <td class="clientId">
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeleVehicule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinTerme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone1)
                <img id="callImg" src="~/Content/Images/Layout/Call-green.png" width="30" height="30" alt="Call Green">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone2)
                <img id="callImg" src="~/Content/Images/Layout/Call-grey.png" width="30" height="30" alt="Call Grey">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                <img src="~/Content/Images/Layout/Expand-green.png" alt="expand" role="button" onclick="displayClientDetails(@item.ClientId)"/>
            </td>
        </tr>
    }

</table>

    <script>
        var currentClientId;
        function displayClientDetails(clientId) {
            
            if (currentClientId && currentClientId == clientId) {
                //console.log("if : " + currentClientId);
                currentClientId = null;
                $('#detailsClient').css('visibility', 'hidden');
                $("#leftContent").css('width', '100%');
            }
            else {
                
                currentClientId = clientId;
                //console.log("else : " + currentClientId);

                $.ajax({
                    url: '/Home/GetFicheClient',
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $('#dvClientDetails').html(result);
                        $("#leftContent").css('width', '75%');
                        $("#detailsClient").appendTo("#innerContent");
                        $('#detailsClient').html(result);
                        $('#detailsClient').css('visibility', 'visible');
                    },
                    error: function (xhr, status) {
                        alert(status);
                    }
                });
            }            
        }
    </script>
    