@model Autoveille.TestingModels.Client

<div class="row">
    <div class="col-md-4 col-lg-4">

        <div class="row">
            <div class="col-md-6 col-lg-6">

                <br class="brClient" />
                <div style="display:inline;text-align:left">
                    <text onclick="displayCalendar()" data-toggle="modal"  data-backdrop="false" data-target="#myModal" style="font-size:15px;font-weight:bolder;">RETOUR D'APPEL</text>
                    <img src="~/Content/Images/retourAppel.svg" height="20" width="20" style="margin-left:3px;" />

                </div>
                <br />
                <br />
                <text class="labell pleftClient">
                    Prénom
                </text>
                <br />
                <text class="info pleftClient">
                    @Html.DisplayFor(model => model.PrenomClient)
                </text>
                <br class="brClient" />
                <text class="labell  pleftClient">
                    Nom
                </text>
                <br />
                <text class="info   pleftClient">
                    @Html.DisplayFor(model => model.NomClient)
                </text>
                <br class="brClient" />
                <text class="labell pleftClient ">
                    Compagnie
                </text>
                <br />
                <text class="info  pleftClient">
                    @Html.DisplayFor(model => model.Compagnie)
                </text>
                <br class="brClient" />
            </div>
            <div class="col-md-6 col-lg-6">

                <br class="brClient" />
                <div class="float-left" style="display:inline;text-align:left">
                    <text class="info pleftClient" onclick="displayCalendar()" data-toggle="modal" data-target="#myModal" style="font-size:15px;font-weight:bolder;">FIXER UN R.-V.</text>
                    <img src="~/Content/Images/ICONES_SVG_NB_Base_RDV.svg" height="20" width="20" style="margin-left:3px;" />
                </div>
                <br />
                <br />
                <text class="labell pleftClient">
                    Langue
                </text>
                <br />
                <text class="info pleftClient">
                    @Html.DisplayFor(model => model.Langue)
                </text>
                <br class="brClient" />
                <text class="labell pleftClient">
                    Ville
                </text>
                <br />
                <text class="info">
                    @Html.DisplayFor(model => model.Ville)
                </text>
                <br class="brClient" />
                <text class="labell pleftClient">
                    No de fiche
                </text>
                <br />
                <text class="info pleftClient">
                    @Html.DisplayFor(model => model.ClientId)
                </text>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">

                <div class="labell pleftClient">
                    Courriel
                </div>
                <br />
                <div id="input-container">
                    <input value="@Model.Courriel" class="phoneInput float-left" id="IdphoneInput" style="display:block;"/>
                </div>
                <br class="brClientPhone" />

                <div class="labell pleftClient float-left">
                    Téléphone residence
                </div>
                <br />
                <div id="input-container">
                    <input value="@Model.Phone1" class="phoneInput float-left" id="IdphoneInput1" style="display:block;" />
                    <img class="float-left" src="~/Content/Images/ICONES_SVG_Base_Couleurs_Appel_Vert.svg" style=" margin-left: -63px; margin-top: 3px; width: 22px; height:22px" />
                    <a href="#">
                        <i class="fas fa-trash-alt float-left" style=" margin-left: -40px; margin-top: 6px; width: 30px;height:30px; color: black;"></i>
                    </a>
                </div>
                <br class="brClientPhone" />

                <div class="labell pleftClient float-left">
                    Téléphone travail
                </div>
                <br />
                <div id="input-container">
                    <input value="@Model.Phone2" class="phoneInput float-left" id="IdphoneInput2" style="display:block;"/>
                    <img class="float-left" src="~/Content/Images/ICONES_SVG_Base_Couleurs_Appel_Vert.svg" style=" margin-left: -63px; margin-top: 3px; width: 22px; height:22px" />
                    <a href="#">
                        <i class="fas fa-trash-alt float-left" style=" margin-left: -40px; margin-top: 6px; width: 30px;height:30px; color: black;"></i>
                    </a>
                </div>
                <br class="brClientPhone" />

                <div class="labell pleftClient float-left">
                    Cellulaire
                </div>
                <br />
                <div id="input-container">
                    <input value="@Model.Mobile" class="phoneInput float-left" id="IdphoneInput3" style="display:block;"/>
                    <img class="float-left" src="~/Content/Images/ICONES_SVG_Base_Couleurs_Appel_Vert.svg" style=" margin-left: -63px; margin-top: 3px; width: 22px; height:22px" />
                    <a href="#">
                        <i class="fas fa-trash-alt float-left" style=" margin-left: -40px; margin-top: 6px; width: 30px;height:30px; color: black;"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="messageDiv">
                <div class="labell pleftClient" style="color:black;">
                    Cellulaire pour envoi sms
                </div>
                <br />
                <div id="input-container">
    
                    <input value="@Model.Phone2" class="phoneInput float-left" id="IdphoneInput" style="width:80%;"/>
                </div>
                <br class="brClientPhone" />


                <div class="labell pleftClient" style="color:black;">
                    Message Texte à envoyer
                </div>
                <br />
                <div id="input-container">
                    <input value="@Model.Phone2" class="phoneInput float-left" id="IdphoneInput" style="width:95%;" />
                </div>
                <br class="brClientPhone" />
                <div class="saveDiv">
                    <button value="sauvegarder" class="btn  saveButton">Sauvegarder</button>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="box box-content" style="margin-left: 15px;height:150px;">
                <b>  Messages textes antesieurs</b>
            </div>
        </div>

    </div>


    <div class="col-md-4 col-lg-4">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <br class="brClient" />
                <br />
                <div class="labell">
                    VÉHICULE ACTUEL
                </div>
                <br />
                <text class="labell">
                    Marque
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.Marque
                </text>

                <br class="brClient" />

                <text class="labell">
                    Modele
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.Modele
                </text>

                <br class="brClient" />


                <text class="labell">
                    Annee
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.Annee
                </text>

                <br />

                <text class="labell">
                    Valeur de vehicule
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.ValeurVehicule
                </text>

                <br class="brClient" />


                <text class="labell">
                    Sold à payer
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.SoldAPayer
                </text>

            </div>
            <div class="col-md-6 col-lg-6">
                <br class="brClient" />
                <br />
                <br />
                <text class="labell">
                    No série
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.Niv
                </text>

                <br class="brClient" />

                <text class="labell">
                    Date d'achat
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.DateAcquisition
                </text>

                <br class="brClient" />


                <text class="labell">
                    Terme
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.Terme
                </text>

                <br />

                <text class="labell">
                    Date de fin du terme
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.FinTerme
                </text>

                <br class="brClient" />


                <text class="labell">
                    État de vente
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.EtatVente
                </text>
                <br class="brClient" />


                <text class="labell">
                    Type d'achat
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.TypeAchat
                </text>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12 col-lg-12" style="display:flex;flex-direction:column;">
               <div style="height:35px"></div>
                <div class="labell pleftClient" style="padding-left:0px;">
                    vehicule désiré <br />
                    Marque/Modèle/Année
                    <br />
                </div>

                <div id="input-container">
                   
                    <input type="text" value="@Model.Vehicule.VehiculeDesire" class="phoneInput float-left" id="IdphoneInput" />
                </div>
                <br class="brClientPhone" />

            </div>
        </div>


        <div class="row">

            <div class="box box-content" style="height:180px;margin-left: 15px;margin-bottom:15px;">
                <b><label>  Données d'avant modifications :</label> </b>
                <br />
                <label > Téléphone residence : </label>
                <br />
                <label> Téléphone travail : </label>
                <br />
                <label> Téléphone cellulaire : </label>
                <br />
                <label>  Courriel : </label>
                <br />
            </div>

            <div class="box box-content" style="height:160px;margin-left: 15px;margin-bottom:15px;">
                <b>  Notes générales</b>
            </div>

            @*<div class="box box-content" style="margin-left: 15px;">
                <b>  Note du centre d'appels</b>
            </div>*@
        </div>
    </div>


    <div class="col-md-4 col-lg-4">
        <br />

        <div class="row">
            <div class="box box-content">
                <b>Notes d'appels précédents </b>
            </div>
        </div>
        <br />
        <div class="row checkMarksDiv " style="width:100%">

            <div class="col-md-6">
                <label class="checkContainer" style="font-size:15px">
                    RÉSULTAT
                </label>


                <label>
                    <input type="radio" name="resultat" value="retourAppel">
                    <span>Retour D'appel</span>
                </label>

                <label>
                    <input type="radio" name="resultat" value="nonInterresse">
                    <span>Non Intèrressé</span>
                </label>

                <label>
                    <input type="radio" name="resultat" value="relanceFuture">
                    <span>Relance Future</span>
                </label>
            </div>
            <div class="col-md-6 rbColumn">
                <label class="topRadio">
                    <input type="radio" name="resultat" value="listeNoire">
                    <span>Liste Noire</span>
                </label>

                <label>
                    <input type="radio" name="resultat" value="desactivee">
                    <span>Désactivé</span>
                </label>


                <label>
                    <input type="radio" name="resultat" value="casLitige">
                    <span>Cas de Litige</span>
                </label>

                <label>
                    <input type="radio" name="resultat" value="rvFixee">
                    <span>R-V fixé</span>
                </label>

            </div>
        </div>
        <div style="position: relative;margin-left: -15px;width: 100%;display:none;">
            <span class="dropdown-desactivee" style="position: absolute;top: 100%;left: 0;width: 100%;">
                <input type="radio" name="resultatDesactivee" value="décédé" checked="checked" id="decede">
                <label for="decede">Décédé</label>
                <input type="radio" name="resultatDesactivee" value="déménagé" id="demenage">
                <label for="demenage">Déménagé</label>
                <input type="radio" name="resultatDesactivee" value="incapacité" id="incapacite">
                <label for="incapacite">Incapacité de conduire un véhicule</label>
                <input type="radio" name="resultatDesactivee" value="pasDePermis" id="pasDePermis">
                <label for="pasDePermis">N'a plus de pemis de conduire</label>
            </span>
        </div>
        <span class="dropdown-relanceFutur" style="display:none;">
            <input type="radio" name="sortType" value="Relevance" checked="checked" id="sort-relevance">
            <label for="sort-relevance">1 mois</label>
            <input type="radio" name="sortType" value="Popularity" id="sort-best">
            <label for="sort-best">2 mois</label>
            <input type="radio" name="sortType" value="PriceIncreasing" id="sort-low">
            <label for="sort-low">3 mois</label>
            <input type="radio" name="sortType" value="PriceDecreasing" id="sort-high">
            <label for="sort-high">4 mois</label>
            <input type="radio" name="sortType" value="PriceDecreasing" id="sort-high">
            <label for="sort-high">5 mois</label>
            <input type="radio" name="sortType" value="PriceDecreasing" id="sort-high">
            <label for="sort-high">6 mois</label>
        </span>


        <div class="row">
            <div class="box box-content" style="height:250px;">
                @*<div class="float-left" ><b>Note d'appel :</b></div>*@

                <textarea class="float-left "
                          placeholder="Écrire la note d'appel ici"
                          id="AppelsPrecedents"
                          name="Note" rows="55">@Html.DisplayFor(model => model.NoteAppel)</textarea>

            </div>

        </div>
        <br />
        <div style="display:flex;justify-content:center;">
            <button value="sauvegarder" class="btn btn-danger" disabled style="color:white;width:200px;border-radius:15px;">Sauvegarder</button>
        </div>
    </div>
</div>




<!--Calendar Modal -->
<div id="myModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog modal-xl">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Calendrier des rendez Vous</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="removeBackdrop()">Fermer</button>
            </div>
        </div>

    </div>
</div>


<script>
    function removeBackdrop() {
        $('.modal-backdrop').remove();
    }
    function EditClientDetails() {
            $.ajax({
                url: '/Home/EditMainClient',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#' + row).html(result);
                    $('#' + row).css('visibility', 'visible');
                    $('#' + row).css('display', '');
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
    }


    function displayCalendar() {
        $.ajax({
            url: '/Home/GetCalendar',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('.modal-body').html(result);
                daysCalendarDisplay();
                monthsCalendarDisplay();
                $('.modal-body').modal("show");
            },
            error: function (xhr, status) {
                alert(status);
            }
        });
    }



    function daysCalendarDisplay() {
    var calendarEl = document.getElementById('calendarfc');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        locale: 'fr',
        timeZone: 'UTC',
        initialView: 'timeGridFourDay',
        headerToolbar: {
            left: 'prev,next',
            center: 'title',
            right: 'timeGridDay,timeGridFourDay'
        },
        views: {
            timeGridFourDay: {
                type: 'timeGrid',
                duration: { days: 4 },
                buttonText: '4 day'
            }
        },
        events: 'https://fullcalendar.io/demo-events.json'
    });


    calendar.render();
    };

    
    function monthsCalendarDisplay() {
        //'use strict';
        $.datepicker.setDefaults($.datepicker.regional["fr"]);
        var checkIn, checkOut, numberOfMonths = [3, 1],
            $calendar = $('#monthsCalendar').datepicker({
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                numberOfMonths: numberOfMonths,
                prevText: '',
                nextText: '',
                beforeShowDay: function (date) {
                    date = moment(date);

                    var now = moment(),
                        show = date.isAfter(now),
                        css = '';

                    if (checkIn && checkOut
                        && date.isSameOrAfter(checkIn)
                        && date.isSameOrBefore(checkOut)) {
                        css = 'ui-datepicker-reserved';

                        if (date.isSame(checkIn)) css += ' ui-datepicker-checkin';
                        if (date.isSame(checkOut)) css += ' ui-datepicker-checkout';
                    }

                    return [show, css];
                },
                onSelect: function (value) {
                    var date = moment($calendar.datepicker('getDate'));

                    if (checkIn && !checkOut
                        && date.isSameOrAfter(checkIn))
                        checkOut = date;
                    else {
                        checkIn = date;
                        checkOut = null;
                    }

                    $('#check-in-date').text(checkIn ? checkIn.format('DD/MM/YYYY') : 'Choose a date');
                    $('#check-out-date').text(checkOut ? checkOut.format('DD/MM/YYYY') : 'Choose a date');
                },
                onChangeMonthYear: function () {
                    $calendar.addClass('fade-in');
                }
            }).on('animationend webkitAnimationEnd', function () {
                $calendar.removeClass('fade-in');
            });

       // resize();

    }

    $('.checkMarksDiv input:radio').click(function (e) {
        console.log(e.target.defaultValue);
        //console.log($(this));
        //if ($(this).val() === '1') {
        //    myFunction();
        //} else if ($(this).val() === '2') {
        //    myOtherFunction();
        //}
    });

    $('.dropdown-desactivee').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).toggleClass('expanded');
        $('#' + $(e.target).attr('for')).prop('checked', true);
    });
    $(document).click(function () {
        $('.dropdown-desactivee').removeClass('expanded');
    });
</script>