@model Autoveille.TestingModels.Client

<div class="row">
    <div class="col-md-4 col-lg-4">

        <div class="row">
            <div class="col-md-6 col-lg-6">

                <br class="brClient" />
                <div style="display:inline;text-align:left">
                    <text onclick="displayCalendar()" style="font-size:15px;font-weight:bolder;" data-toggle="modal" data-target="#myModal">RETOUR D'APPEL</text>
                    <img src="~/Content/Images/retourAppel.svg" height="20" width="20" style="margin-left:3px;" />

                </div>
                <br />
                <br />
                <text class="labell pleftClient">
                    Prénom
                </text>
                <br />
                <text class="info pleftClient">
                    @Html.DisplayFor(model => model.PrenomClient)
                </text>
                <br class="brClient" />
                <text class="labell  pleftClient">
                    Nom
                </text>
                <br />
                <text class="info   pleftClient">
                    @Html.DisplayFor(model => model.NomClient)
                </text>
                <br class="brClient" />
                <text class="labell pleftClient ">
                    Compagnie
                </text>
                <br />
                <text class="info  pleftClient">
                    @Html.DisplayFor(model => model.Compagnie)
                </text>
                <br class="brClient" />
            </div>
            <div class="col-md-6 col-lg-6">

                <br class="brClient" />
                <div class="float-left" style="display:inline;text-align:left">
                    <text class="info pleftClient" onclick="displayCalendarRendezVous('rendezVous')" data-toggle="modal" data-target="#myModal" style="font-size:15px;font-weight:bolder;">FIXER UN R.-V.</text>
                    <img src="~/Content/Images/ICONES_SVG_NB_Base_RDV.svg" height="20" width="20" style="margin-left:3px;" />
                </div>
                <br />
                <br />
                <text class="labell pleftClient">
                    Langue
                </text>
                <br />
                <text class="info pleftClient">
                    @Html.DisplayFor(model => model.Langue)
                </text>
                <br class="brClient" />
                <text class="labell pleftClient">
                    Ville
                </text>
                <br />
                <text class="info">
                    @Html.DisplayFor(model => model.Ville)
                </text>
                <br class="brClient" />
                <text class="labell pleftClient">
                    No de fiche
                </text>
                <br />
                <text class="info pleftClient">
                    @Html.DisplayFor(model => model.ClientId)
                </text>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">

                <div class="labell pleftClient">
                    Courriel
                </div>
                <br />
                <div id="input-container">
                    <input value="@Model.Courriel" class="phoneInput float-left"  style="display:block;" />
                </div>
                <br class="brClientPhone" />

                <div class="labell pleftClient float-left">
                    Téléphone residence
                </div>
                <br />
                <div id="input-container">
                    <input value="@Model.Phone1" class="phoneInput float-left" style="display:block;" />
                    <img class="float-left" src="~/Content/Images/ICONES_SVG_Base_Couleurs_Appel_Vert.svg" style=" margin-left: -63px; margin-top: 3px; width: 22px; height:22px" />
                    <a href="#">
                        <i class="fas fa-trash-alt float-left" style=" margin-left: -40px; margin-top: 6px; width: 30px;height:30px; color: black;"></i>
                    </a>
                </div>
                <br class="brClientPhone" />

                <div class="labell pleftClient float-left">
                    Téléphone travail
                </div>
                <br />
                <div id="input-container">
                    <input value="@Model.Phone2" class="phoneInput float-left" style="display:block;" />
                    <img class="float-left" src="~/Content/Images/ICONES_SVG_Base_Couleurs_Appel_Vert.svg" style=" margin-left: -63px; margin-top: 3px; width: 22px; height:22px" />
                    <a href="#">
                        <i class="fas fa-trash-alt float-left" style=" margin-left: -40px; margin-top: 6px; width: 30px;height:30px; color: black;"></i>
                    </a>
                </div>
                <br class="brClientPhone" />

                <div class="labell pleftClient float-left">
                    Cellulaire
                </div>
                <br />
                <div id="input-container">
                    <input value="@Model.Mobile" class="phoneInput float-left" style="display:block;" />
                    <img class="float-left" src="~/Content/Images/ICONES_SVG_Base_Couleurs_Appel_Vert.svg" style=" margin-left: -63px; margin-top: 3px; width: 22px; height:22px" />
                    <a href="#">
                        <i class="fas fa-trash-alt float-left" style=" margin-left: -40px; margin-top: 6px; width: 30px;height:30px; color: black;"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="messageDiv">
                <div class="labell pleftClient" style="color:black;">
                    Cellulaire pour envoi sms
                </div>
                <br />
                <div id="input-container">

                    <input value="@Model.Phone2" class="phoneInput float-left" style="width:80%;" />
                </div>
                <br class="brClientPhone" />


                <div class="labell pleftClient" style="color:black;">
                    Message Texte à envoyer
                </div>
                <br />
                <div id="input-container">
                    <input value="@Model.Phone2" class="phoneInput float-left" style="width:95%;" />
                </div>
                <br class="brClientPhone" />
                <div class="saveDiv">
                    <button value="sauvegarder" class="btn  saveButton">Sauvegarder</button>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="box box-content" style="margin-left: 15px;height:215px;">
                <b>  Messages textes antesieurs</b>
            </div>
        </div>

    </div>


    <div class="col-md-4 col-lg-4">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <br class="brClient" />
                <br />
                <div class="labell">
                    VÉHICULE ACTUEL
                </div>
                <br />
                <text class="labell">
                    Marque
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.Marque
                </text>

                <br class="brClient" />

                <text class="labell">
                    Modele
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.Modele
                </text>

                <br class="brClient" />


                <text class="labell">
                    Annee
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.Annee
                </text>

                <br />

                <text class="labell">
                    Valeur de vehicule
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.ValeurVehicule
                </text>

                <br class="brClient" />


                <text class="labell">
                    Sold à payer
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.SoldAPayer
                </text>

            </div>
            <div class="col-md-6 col-lg-6">
                <br class="brClient" />
                <br />
                <br />
                <text class="labell">
                    No série
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.Niv
                </text>

                <br class="brClient" />

                <text class="labell">
                    Date d'achat
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.DateAcquisition
                </text>

                <br class="brClient" />


                <text class="labell">
                    Terme
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.Terme
                </text>

                <br />

                <text class="labell">
                    Date de fin du terme
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.FinTerme
                </text>

                <br class="brClient" />


                <text class="labell">
                    État de vente
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.EtatVente
                </text>
                <br class="brClient" />


                <text class="labell">
                    Type d'achat
                </text>
                <br />
                <text class="info">
                    @Model.Vehicule.TypeAchat
                </text>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12 col-lg-12" style="display:flex;flex-direction:column;">
                <div style="height:35px"></div>
                <div class="labell pleftClient" style="padding-left:0px;">
                    vehicule désiré <br />
                    Marque/Modèle/Année
                    <br />
                </div>

                <div id="input-container">

                    <input type="text" value="@Model.Vehicule.VehiculeDesire" class="phoneInput float-left" />
                </div>
                <br class="brClientPhone" />

            </div>
        </div>


        <div class="row">

            <div class="box box-content" style="height:180px;margin-left: 15px;margin-bottom:15px;">
                <b><label>  Données d'avant modifications :</label> </b>
                <br />
                <label> Téléphone residence : </label>
                <br />
                <label> Téléphone travail : </label>
                <br />
                <label> Téléphone cellulaire : </label>
                <br />
                <label>  Courriel : </label>
                <br />
            </div>

            <div class="box box-content" style="height:225px;margin-left: 15px;margin-bottom:15px;">
                <b>  Notes générales</b>


                What is Lorem Ipsum?

                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                Why do we use it?

                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                Where does it come from?

                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

            </div>

            @*<div class="box box-content" style="margin-left: 15px;">
                    <b>  Note du centre d'appels</b>
                </div>*@
        </div>
    </div>


    <div class="col-md-4 col-lg-4">
        <br />

        <div class="row">
            <div class="box box-content">
                <b>Notes d'appels précédents </b>
            </div>
        </div>
        <br />
        <div class="row checkMarksDiv " style="width:100%">

            <div class="col-md-6">
                <label class="checkContainer" style="font-size:15px">
                    RÉSULTAT
                </label>


                <label>
                    <input type="checkbox" name="resultat" value="retourAppel">
                    <span onclick="displayCalendar('retourAppel')" data-toggle="modal" data-target="#myModal">Retour D'appel</span>
                </label>

                <label>
                    <input type="checkbox" name="resultat" value="nonInterresse">
                    <span>Non Intèrressé</span>
                </label>

                <label>
                    <input type="checkbox" name="resultat" value="relanceFuture">
                    <span>Relance Future</span>
                </label>
            </div>
            <div class="col-md-6 rbColumn">
                <label class="topRadio">
                    <input type="checkbox" name="resultat" value="listeNoire">
                    <span>Liste Noire</span>
                </label>

                <label>
                    <input type="checkbox" name="resultat" value="desactivee">
                    <span>Désactivé</span>
                </label>


                <label>
                    <input type="checkbox" name="resultat" value="casLitige">
                    <span>Cas de Litige</span>
                </label>

                <label>
                    <input type="checkbox" name="resultat" value="rvFixee">
                    <span onclick="displayCalendar('rendezVous')" data-toggle="modal" data-target="#myModal">R-V fixé</span>
                </label>

            </div>
        </div>
        <div style="position: relative;margin-left: -15px;width: 100%;">
            <span id="dropdown" class="dropdown dropdown-desactivee" style="position: absolute;top: 100%;left: 0;width: 100%;border-radius: 15px;display: none;">
                <input type="radio" name="resultatDesactivee" value="décédé" id="decede" class="desa" checked="checked">
                <label for="décédé">Décédé</label>
                <input type="radio" name="resultatDesactivee" value="déménagé" id="demenage" class="desa">
                <label for="déménagé">Déménagé</label>
                <input type="radio" name="resultatDesactivee" value="incapacité" id="incapacite" class="desa">
                <label for="Incapacité de conduire un véhicule">Incapacité de conduire un véhicule</label>
                <input type="radio" name="resultatDesactivee" value="pasDePermis" id="pasDePermis"  class="desa">
                <label for="Pas de permis de conduire">N'a plus de pemis de conduire</label>
            </span>
        </div>

        <div style="position: relative;margin-left: -15px;width: 100%;">
            <span id="dropdown" class="dropdown dropdown-relanceFuture" style="position: absolute; top: 100%; left: 0; width: 100%; border-radius: 15px; display: none;">
                <input type="radio" name="resultatRelanceFuture" value="1" checked="checked" id="unMois">
                <label for="1 Mois">1 mois</label>
                <input type="radio" name="resultatRelanceFuture" value="2" id="deuxMois">
                <label for="2 Mois">2 mois</label>
                <input type="radio" name="resultatRelanceFuture" value="3" id="troisMois">
                <label for="3 Mois">3 mois</label>
                <input type="radio" name="resultatRelanceFuture" value="4" id="quatreMois">
                <label for="4 Mois">4 mois</label>
                <input type="radio" name="resultatRelanceFuture" value="5" id="cinqMois">
                <label for="5 Mois">5 mois</label>
                <input type="radio" name="resultatRelanceFuture" value="6" id="sixMois">
                <label for="6 Mois">6 mois</label>
            </span>
        </div>

        <div class="row">
            <div class="box box-content" style="height:250px;">
                <textarea class="float-left "
                          placeholder="Écrire la note d'appel ici"
                          id="AppelsPrecedents"
                          name="Note" rows="55">@Html.DisplayFor(model => model.NoteAppel)</textarea>

            </div>

        </div>
        <br />
        <div style="display:flex;justify-content:center;">
            <button value="sauvegarder" class="btn btn-danger" disabled style="color:white;width:200px;border-radius:15px;">Sauvegarder</button>
        </div>
        <div class="row resultCall" style="display: none;margin-top:10px;width:100%;background-color:black;border-radius:15px;height:200px;border-radius:15px;">
            <div class="col-md-6" style="display:flex;flex-direction:column;justify-content:center;">
                <img class="resultCallImg" src="~/Content/Images/ICONES_SVG_Base_Couleurs_Litige.svg" height="150" width="150" />
            </div>
            <div class="col-md-6" id="resultDate" style="display:flex;flex-direction:column;justify-content:center;">
                <p id="resultText" style="color:white;font-size:15px;text-align:center;">liste Noire</p>
                <p id="selectedChoice" style="color:white;font-size:15px;text-align:center;"></p>
                <br />
                <p id="Datenow" style="color:white;font-size:15px;text-align:center;"></p>
            </div>
        </div>
        @*</div>*@
    </div>

</div>


<!--Calendar Modal -->
<div id="myModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog modal-xl">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display:none;">
                <button type="button" class="close" data-dismiss="modal" onclick="removeBackdrop()">&times;</button>
                <h4 class="modal-title">Calendrier des rendez Vous</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer"  style="display:none;">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="removeBackdrop()">Fermer</button>
            </div>
        </div>

    </div>
</div>



<script>
    function removeBackdrop() {
        $('.modal-backdrop').remove();
        if ($('.checkMarksDiv input:checkbox').is(":checked")){
            $('.checkMarksDiv input:checkbox').prop("checked", false);
        }
    }
    function EditClientDetails() {
        $.ajax({
            url: '../Home/EditMainClient',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#' + row).html(result);
                $('#' + row).css('visibility', 'visible');
                $('#' + row).css('display', '');
            },
            error: function (xhr, status) {
                alert(status);
            }
        });
    }

    function displayCalendar(reservationType) {

        $('.resultCall').css('display', '');
        var dateTimeNow = moment().format('YYYY-MM-DD HH:mm:ss')
        $('#Datenow').html(dateTimeNow);
        $('#resultText').html('Retour d\'appel fixé');
        $('#resultText').css('color', 'red');
        $('#selectedChoice').css('display', '');
        $('.resultCallImg').attr('src', '../Content/Images/ICONES_SVG_Base_Couleurs_Retour_Appel.svg');
        $.ajax({
            url: '../Home/GetCalendar',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('.modal-body').html(result);
                daysCalendarDisplay(reservationType);
                monthsCalendarDisplay();
                $('.modal-body').modal("show");
            },
            error: function (xhr, status) {
                alert(status);
            }
        });
    }

    function displayCalendarRendezVous(reservationType) {

        $('.resultCall').css('display', '');
        var dateTimeNow = moment().format('YYYY-MM-DD HH:mm:ss')
        $('#Datenow').html(dateTimeNow);
        $('#resultText').html('Rendez-vous fixé');
        $('#resultText').css('color', 'green');
        $('#selectedChoice').css('display', '');
        $('.resultCallImg').attr('src', '../Content/Images/ICONES_SVG_Base_Couleurs_RDV.svg');

        $.ajax({
            url: '../Home/GetCalendarRendezVous',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('.modal-body').html(result);
                daysCalendarDisplay(reservationType);
                monthsCalendarDisplay();
                $('.modal-body').modal("show");
            },
            error: function (xhr, status) {
                alert(status);
            }
        });
    }
    function getRVevents() {
        $.ajax({
            url: '../Home/GetReservations',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {

                //console.log(result);
                return result;
            },
            error: function (xhr, status) {
                alert(status);
            }
        });
    }

    var calendar;

    function daysCalendarDisplay(str) {

        var calendarEl = document.getElementById('calendarfc');
        setTimeout(function () {
            var eventSource = str == "rendezVous" ? '../Home/GetRendezVousReservations' : '../Home/GetRetourAppelReservations'

            calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap',
                contentHeight: 200,
                allDaySlot: false,
                locale: 'fr',
                timeZone: 'UTC',
                initialView: 'timeGridFourDay',
                eventMaxStack: 3,
                headerToolbar: false,
                views: {
                    timeGridFourDay: {
                        type: 'timeGrid',
                        duration: { days: 4 },
                        buttonText: '4 Jours',
                        dayMaxEventRows: 3,
                    },
                    timeGridDay: {
                        dayMaxEventRows: 5
                    }
                },
                events: eventSource,
                selectable: true,
                expandRows: true,
                slotMinTime: "09:00:00",
                slotMaxTime: "20:00:00",
                slotDuration: '00:15:00',
                slotLabelInterval: 15,
                snapDuration: '00:15:00',
                select: function (info) {

                    var newEvent = new Object();
                    newEvent.title = 'abc';
                    newEvent.start = moment(info.startStr).format();
                    newEvent.end = moment(info.endStr).format();
                    var midnight = "0:00:00";
                    end = moment(info.endStr).format("H:mm:ss");
                    if (end === midnight) {
                        newEvent.allDay = true;
                    }
                    else newEvent.allDay = false;
                    saveNewRV(newEvent);
                    calendar.addEvent(newEvent);
                    var rdvDateTime = moment(info.startStr).format('YYYY-MM-DD') + " à " + moment.utc(info.startStr).format('hh:mm');
                    $('#selectedChoice').html(rdvDateTime);
                    calendar.unselect();
                },
                editable: true,
                dayMaxEventRows: true,
                eventDidMount: customEventRender,
                dayHeaderDidMount: customDayHeaderRender,
            });
            calendar.render();

        } , 300)
    

    };
    var clickCnt = 0;
    function customEventRender(info) {
        info.el.addEventListener('click', function () {
            clickCnt++;
            var newEvent;
            if (clickCnt === 1) {
                oneClickTimer = setTimeout(function () {
                    clickCnt = 0;
                    newEvent = new Object();
                    newEvent.title = info.event.title;
                    newEvent.start = info.event.start;;
                    newEvent.end = info.event.end;;
                    newEvent.allday = false;                   
                    info.view.calendar.addEvent(newEvent);
                    var rdvDateTime = moment(newEvent.startStr).format('YYYY-MM-DD') + " à " + moment.utc(newEvent.startStr).format('hh:mm');
                    $('#slectedChoice').html(rdvDateTime);
                }, 400);
            } else if (clickCnt === 2) {
                clearTimeout(oneClickTimer);
                clickCnt = 0;
                info.event.remove();
            }
        });
    }

    function customDayHeaderRender(info) {
        var startDate = new Date();
        var endDate = new Date();
        var numberOfDaysToAdd = 2;
        endDate = endDate.setDate(startDate.getDate() + numberOfDaysToAdd); 
        startDate = startDate.setDate(startDate.getDate() - 1);
        if (startDate <= info.date && info.date <= endDate) { 
            info.el.classList.add("coloredBackground");
        }
    }

    function saveNewRV(newRV) {
        $.ajax({
            url: '../Home/SaveRendezVous',
            type: 'POST',
            data: JSON.stringify(newRV),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                return result;
            },
            error: function (xhr, status) {
                alert(status);
            }
        });
    }

    function addNewEvent(info) {
        var newEvent = new Object();
        //var title = prompt('Enter Title');
        newEvent.title = 'abc';
        newEvent.start = moment(info.startStr).format();
        newEvent.end = moment(info.endStr).format();
        var midnight = "0:00:00";
        end = moment(info.endStr).format("H:mm:ss");
        if (end === midnight) {
            newEvent.allDay = true;
        }
        else newEvent.allDay = false;
        saveNewRV(newEvent);
        console.log(newEvent);
        calendar.addEvent(newEvent);
        calendar.unselect();
    }

    function monthsCalendarDisplay() {

        $('#monthsCalendar').yacal({
            date: '2021/05/20',
            minDate: '2021/01/01',
            maxDate: '2030/01/01',
            nearMonths: 1,
            i18n: {
                weekdays: ['D', 'L', 'M', 'M', 'j', 'V', 'S',],
                months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            },
            tpl: {
                weekday: '<strong class="wday wd#weekday#">#weekdayName#<\/strong>'
            }
        });
    }


    $(document).on('click', '.day.active', function () {
        var selectedDate = new Date($(this).data('time'));
        var dd  =moment(selectedDate).format();
        var first = selectedDate.getDate() - selectedDate.getDay(); // First day is the day of the month - the day of the week
        var last = first + 6; // last day is the first day + 6

        var firstday = new Date(selectedDate.setDate(first)).toUTCString();
        var lastday = new Date(selectedDate.setDate(last)).toUTCString();
        calendar.changeView('timeGridWeek');
        calendar.gotoDate(dd);
        $('.fc-col-header-cell').css('background-color', '');
    });

    $('.checkMarksDiv input:checkbox').click(function (e) {     
        var $box = $(this);
        //console.log($box.is(":checked"));
        if ($box.is(":checked")) {
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);

           
            if ($(this).val() != 'desactivee' && $(this).val() != 'relanceFuture') {
                $('.dropdown-relanceFuture').css('display', 'none');
                $('.dropdown-desactivee').css('display', 'none');
            }
            if ($(this).val() === 'desactivee') {
                $('.dropdown-relanceFuture').css('display', 'none');
                $('.dropdown-desactivee').css('display', '');
                $('.dropdown-desactivee').css('visibility', 'visible');
            } else if ($(this).val() === 'relanceFuture') {
                $('.dropdown-desactivee').css('display', 'none');
                $('.dropdown-relanceFuture').css('display', '');
                $('.dropdown-relanceFuture').css('visibility', 'visible');
            } else if ($(this).val() === 'rvFixee') {
                
                
                displayCalendarRendezVous('rendezVous');
            }
            else if ($(this).val() === 'retourAppel') {
                
                displayCalendar('retourAppel');
            }
            else if ($(this).val() == 'nonInterresse') {
                $('.resultCall').css('display', '');
                $('.resultCallImg').attr('src', '../Content/Images/ICONES_SVG_Base_Couleurs_Non_Inte╠üresse╠ü.svg');
                var dateTimeNow = moment().format('YYYY-MM-DD HH:mm:ss')
                $('#Datenow').html(dateTimeNow);
                $('#resultText').html('Non Intérressée');
                $('#resultText').css('color', 'white');
                $('#selectedChoice').css('display', 'none');
            }
            else if ($(this).val() == 'casLitige') {
                $('.resultCall').css('display', '');
                $('.resultCallImg').attr('src', '../Content/Images/ICONES_SVG_Base_Couleurs_Litige.svg');
                var dateTimeNow = moment().format('YYYY-MM-DD HH:mm:ss')
                $('#selectedChoice').css('display', 'none');
                $('#Datenow').html(dateTimeNow);
                $('#resultText').html('Cas de litige');
                $('#resultText').css('color', 'white');
            }
            else if ($(this).val() == 'listeNoire') {
                $('.resultCall').css('display', '');
                $('.resultCallImg').attr('src', '../Content/Images/ICONES_SVG_Base_Couleurs_Liste.svg');
                var dateTimeNow = moment().format('YYYY-MM-DD HH:mm:ss')
                $('#selectedChoice').css('display', 'none');
                $('#Datenow').html(dateTimeNow);
                $('#resultText').html('Liste noire');
                $('#resultText').css('color', 'white');
            }

        } else {
            $box.prop("checked", false);

            if ($(this).val() === 'desactivee') {
                $('.dropdown-desactivee').css('display', 'none');
                //$('.dropdown-desactivee').css('visibility', 'visible');
            } else if ($(this).val() === 'relanceFuture') {
                $('.dropdown-relanceFuture').css('display', 'none');
                // $('.dropdown-relanceFuture').css('visibility', 'visible');
            }
        }



    });

    $('.dropdown-desactivee').click(function (e) {
        e.preventDefault();
        e.stopPropagation();

        if ($('.dropdown-desactivee').hasClass("expanded")) {
            if ($(e.target).attr('for') != undefined) {
                $('.dropdown-desactivee').css('display', 'none');
            }
            //console.log($(e.target).attr('for'));
            //var dateTimeNow = moment().format('YYYY-MM-DD HH-MM-SS')
            //console.log(dateTimeNow);
            //$('#Datenow').html(dateTimeNow);   
        }


        $(this).toggleClass('expanded');
        $('#' + $(e.target).attr('for')).prop('checked', true);

        //$(this).toggleClass('expanded');
        //$('#' + $(e.target).attr('for')).prop('checked', true);
        var causeDesactivation = $(e.target).attr('for');
        $('.resultCall').css('display', '');
        $('.resultCallImg').attr('src', '../Content/Images/ICONES_SVG_Base_Couleurs_De╠üsactive╠ü.svg');
        var dateTimeNow = moment().format('YYYY-MM-DD HH:mm:ss')
        //console.log(dateTimeNow);
        $('#Datenow').html(dateTimeNow);
        $('#resultText').html('Désactivée');
        $('#resultText').css('color', 'white');
        $('#selectedChoice').css('display', '');
        // causeDesactivation.replace("'", "\\\'");
        if (causeDesactivation == 'Pas de permis de conduire') {
            $('#selectedChoice').html('N\'a plus de permis de conduire');
        }else
        $('#selectedChoice').html(causeDesactivation);
    });


    $('.dropdown-relanceFuture').click(function (e) {
        e.preventDefault();
        e.stopPropagation();

        if ($('.dropdown-relanceFuture').hasClass("expanded")) {
            if ($(e.target).attr('for') != undefined) {
                $('.dropdown-relanceFuture').css('display', 'none');
            }
            //console.log($(e.target).attr('for'));
            //var dateTimeNow = moment().format('YYYY-MM-DD HH-mm-ss')
            //console.log(dateTimeNow);
           // $('#Datenow').html(dateTimeNow);
        }


        $(this).toggleClass('expanded');
        $('#' + $(e.target).attr('for')).prop('checked', true);

        $('.resultCall').css('display', '');
        $('.resultCallImg').attr('src', '../Content/Images/ICONES_SVG_Base_Couleurs_Relance.svg');
        var dateTimeNow = moment().format('YYYY-MM-DD HH:mm:ss')
        //console.log(dateTimeNow);
        $('#Datenow').html(dateTimeNow);
        $('#resultText').html('Relance future');
        $('#resultText').css('color', 'yellow');
        $('#selectedChoice').css('display', '');
        $('#selectedChoice').html($(e.target).attr('for'));
    });


    $(document).click(function () {
        $('.dropdown-desactivee').removeClass('expanded');
    });


</script>