@model IEnumerable<Autoveille.TestingModels.NomAppel>

<table class="table appelsTable" style="width:100%;">
    @foreach (var item in Model)
    {
        var rowId = "row" + item.Id;
        var clientsId = "clients" + item.Id;
        var imgId = "img" + item.Id;

        <tr id="@rowId" style="background-color:#fbbb29;height:70px;margin-bottom:5px;color:#160F0C;text-align:center;padding-top:20px;">
            <td>
                <img id="@imgId" src="~/Content/Images/Layout/Plus.png" width="30" height="30" alt="Plus button Logo" onclick="displayClients(@item.Id )" role="button">
            </td>
            <td class="appels-td">
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td class="appels-td">
                @Html.DisplayFor(modelItem => item.NbrProspects) prospects
            </td>
            <td class="appels-td">
                @Html.DisplayFor(modelItem => item.NbrRejoints) rejoints
            </td>
            <td class="appels-td">
                @Html.DisplayFor(modelItem => item.NbrArejoindre) a rejoindre
            </td>
            <td class="appels-td">
                @Html.DisplayFor(modelItem => item.NbrRDV) RDV
            </td>
            <td class="appels-td">
                @Html.DisplayFor(modelItem => item.NbrDesactivee) desactivées
            </td>
            <td class="appels-td">
                @Html.DisplayFor(modelItem => item.NbrRelances) relances futures
            </td>
            <td class="appels-td">
                @Html.DisplayFor(modelItem => item.NbrLitiges) litiges
            </td>
        </tr>
        <tr>
            <td id="@clientsId" colspan="9" style="display:none;padding:0;">
            </td>
        </tr>
    }

</table>





<script>
    function displayClients(CampaignId) {
        $.ajax({
            url: '../Home/GetClients',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            data: { aIdTypeEvenement: CampaignId },
            dataType: 'html',
            success: function (result) {
                var clientsId = "clients" + CampaignId;
                var imgId = "img" + CampaignId;
                $('#' + clientsId).html(result);
                $('#' + clientsId).toggle();
                $('#' + imgId).attr('onclick', 'hideClients(' + CampaignId + ')');
                $('#' + imgId).attr('src', '../Content/Images/Layout/Moins.png');
            },
            error: function (xhr, status) {
                alert(status);
            }
        });
    }

    function hideClients(CampaignId) {
        $('#detailsClient').css('visibility', 'hidden');
        var clientsId = "clients" + CampaignId;
        var imgId = "img" + CampaignId;
        $('#' + imgId).attr('onclick', 'displayClients(' + CampaignId + ')');
        $('#' + imgId).attr('src', '../Content/Images/Layout/Plus.png');
        $('#' + clientsId).toggle();
    }
</script>
