@model  Autoveille.Models.EvenementModel
@section styles {
    <link href="@Url.Content("~/Content/jquery.yacal.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "InfoConcession";
}
<div id="infoConcessionContent">
    <p id="eventStartDate" style="display:none;"> @Model.DateDebut</p>
    <p id="eventEndDate" style="display:none;"> @Model.DateFin</p>
    <div id="eventDiv" class="alert alert-heading">
        <div style="float:left;">
            <p class="eventText">
                <span id="eventState"> @Model.TypeEvenement </span>
            </p>
        </div>

        <div id="searchInput" class="eventText">
            @Model.NomCommerce<br />
            <span id="eventPeriod">@Model.DatesEvenementsFr </span>
        </div>
    </div>
    <div id="mainDiv">
        <div id="innerContent">
            <div id="leftContent">
                <div id="prospects">
                    <p id="prospectsText" style="float: left;"><img src="~/Content/Images/OpportunityOrange.svg" height="55" width="55" />OPPORTUNITEE TOTALE <span id="nbrstat">00</span></p>
                    <p id="prospectsText" style="text-align:center;"> REJOINTES <span id="nbrstat">0000</span></p>
                    <p class="pull-right" id="prospectsText" style="text-align:right;float: right;">A REJOINDRE <span id="nbrstat">0000</span></p>
                </div>


                <div id="dvCampaignDetails">

                </div>
            </div>
        </div>

        <div style="clear: both;"> </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '../Home/GetNomAppels',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#dvCampaignDetails').html(result);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        });



    </script>
}
