@model Autoveille.Models.LoginModel
@{
    ViewBag.Title = "Connexion";
}

@*<h2>Connexion</h2>*@

@*<div class="col-md-8">*@
<style>
    .btn-submit
    {border:none; background:#840102; color:#fff; text-transform: uppercase; 
	border-radius:8px; font-size: 18px; font-family:tahoma; text-align: center; padding: 8px 0; width:100%; 
	margin: 15px 0 20px 0; cursor: pointer;}
    .form-text
    {padding: 10px 10px 10px 50px; 
     border-radius: 5px; 
     border:1px solid #e6e6e6; 
     width: 270px;
      margin: 10px 0; 
      font-size: 12px;
      font-weight: bold; 
      color:#c2c2c2;
      
      background: url('../Content/Images/bonhomme.png') no-repeat  22px center #fff
         }
    .form-pass
    {
      background: url('../Content/Images/cadenas.png') no-repeat  22px center #fff
     }
    .form-text:focus 
        {background-color:#FFFEE6; color:#cccccc; border: 2px solid #840102;}
    section#loginForm {width: 310px; margin: 0 auto;}

 a.basFieldset {color:#840102; text-decoration: none; font-weight: bold;font-size: 12px}
a.basFieldset:hover {color:#3F3F40; text-decoration: none; font-weight: bold;font-size: 12px}   
</style>


<div class="div-center" style="width: 310px">

    <section id="loginForm">
        
        @using (Html.BeginForm("Connexion", "Compte", new {ReturnUrl = Request.QueryString["ReturnUrl"]}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {


            <div class="boxe" style="padding: 20px; border-radius: 5px; border: solid; border-width: 1px; border-color: #840102; z-index: -20">
            <div >
            <div >
                <h3 style="text-align: center;color:#840102;">OUVRIR UNE SESSION</h3>
            </div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div >
                @Html.LabelFor(m => m.UserName, new {@class = "control-label"})
                <div >
                    @Html.TextBoxFor(m => m.UserName, new
                    {
                        @class = "form-text", placeholder = "Votre nom d'utilisateur"

                    })
                    @Html.ValidationMessageFor(m => m.UserName, "", new {@class = "text-danger"})
                </div>
            </div>
            <div >
                @Html.LabelFor(m => m.Password, new {@class = "control-label"})
                <div >
                    @Html.PasswordFor(m => m.Password, new
                    {
                        @class = "form-text form-pass", placeholder = "Votre mot de passe"
                    })
                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                </div>
            </div>
            <div >

                <div >
                    <input type="submit" value="SE CONNECTER" class="btn btn-info btn-submit"/>
                </div>
            </div>
          
                </div>
                <div >
                    
                       
                    
                </div>

            </div>

            
        }
    </section>
</div>

  
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
