<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AutoVeille Technologies</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/Layout.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <style>
            .downMenu {
                text-align:right;
                margin-right:55px;
            }
        .downMenu li {
            display: inline;
            color: black;
        }

        .downMenu li a {
            color: black;
        }


        .downMenu li a:hover {
            font-size: medium;
            font-weight: bold;
        }
        #eventDiv  {
            margin-right:35px;
            text-align:center;
            font-size:15px;
            font-family:Arial;
            font-stretch:extra-expanded;
        }

        .clientId {
            color: #fbbb29;
        }
    </style>
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom:0px;">
        <a class="navbar-brand" href="#" style="vertical-align:central;">
            <img src="~/Content/Images/Layout/AutoVeille_Hor.png" height="40" width="300" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" style="vertical-align:central;">
                <li class="nav-item active">
                    <a class="nav-link" href="#">English <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nom d'utilisateur  </a>
                </li>
                <li class="nav-item" id="hamIcon" style="border-left-width:0px;border-left-style: none;padding-bottom:16px;">
                    <a class="nav-link"  onclick="displayMenu()">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <div id="menu" style="display:none;">
        <ul class="downMenu" style="border-top: 1px solid; padding-top: 10px;margin-right:46px;">
            <li>
                <a href="#">Tableau de Bord <span class="sr-only">(current)</span></a> |
            </li>
            <li>
                <a href="#">Rappel </a>  |
            </li>
            <li>
                <a href="#"> Gestionnaire d'appels</a> |
            </li>
            <li>
                <a href="#"> Gestionnaire de rendez vous</a> |
            </li>
            <li>
                <a href="#"> Fermer la session</a>
            </li>
        </ul>
    </div>



    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AutoVeille Software Technologies </p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @RenderSection("scripts", required: false)


        <script type="text/javascript">

            function displayMenu() {
                var border = $('#hamIcon').css("border-left-width");
                if (border == "0px") {
                    
                    $('#hamIcon').css("border-left-width", "1px");
                    $('#hamIcon').css("border-left-style", "solid");

                    $('#eventDiv').css("border-top-width", "0px");
                    $('#eventDiv').css("border-right-width", "0px");
                }
                else {
                    $('#hamIcon').css("border-left-style", "none");
                    $('#hamIcon').css("border-left-width", "0px");
                    $('#eventDiv').css("border-top-width", "1px");
                    $('#eventDiv').css("border-right-width", "1px");
                }
                $('#menu').toggle();
            }
        </script>
       
</body >
</html >
